// rename to config_secret.h
#pragma once

static const char *MQTT_SERVER = "mqtt://localhost";
static const char *MQTT_USER = "pocketbike";
static const char *MQTT_PASS = "";
static const char *MQTT_CLIENT_ID = "pocketbike_display";
